html{
	font-family: sans-serif;
}

.logo {
	width: 45px;
	height: 45px;
	margin-top: 10px;
	margin-left: 10px;
}

nav ul li a {
	color: black;
	font-weight: bold;
	font-size: 18px;
}

.cabecera {
	margin-left: 60px;
}

body {
	background-color: black;
}

